/* src/ResetPassword.css */

.reset-password-container2 > * {
  box-sizing: border-box;
}

.reset-password-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.reset-password-container2 .password-image {
  max-width: 100%;
  height: auto;
}

.reset-password-container2 h2 {
  margin-top: 20px;
  font-size: 24px;
}

.reset-password-container2 .input-container {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

.reset-password-container2 .password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.reset-password-container2 .resetpassword2-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Deja espacio para el icono */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-container2 .password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.reset-password-container2 .reset-button2 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-password-container2 .reset-button2:hover {
  background-color: #6c7e05;
}
