.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.reset-password-container .password-image {
  max-width: 100%;
  height: auto;
}

.reset-password-container h2 {
  margin-top: 20px;
  font-size: 24px;
}

.reset-password-container .resetpassword-paragraph {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.reset-password-container .input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-container .resetpassword-label {
  margin-top: 20px;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

.reset-password-container .resetpassword-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-container .reset-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #8FA206;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-container .reset-button:hover {
  background-color: #6c7e05;
}

.reset-password-container .custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px; /* Ajusta el ancho máximo según lo necesites */
}

.reset-password-container .custom-alert .alert-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; /* Tamaño del círculo */
  height: 80px; /* Tamaño del círculo */
  background-color: #8FA206;
  border-radius: 50%;
  margin: 0 auto 20px;
  font-size: 30px; /* Tamaño del icono */
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container .custom-alert h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #CC2D4A;
}

.reset-password-container .custom-alert p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}

.reset-password-container .custom-alert strong {
  font-weight: bold;
  color: #CC2D4A;
}

.reset-password-container .error-alert {
  position: absolute;
  top: calc(100% + 5px); /* Posiciona la alerta justo debajo del input */
  left: 0;
  width: 100%;
  background-color: #ffcccc;
  color: #cc0000;
  padding: 5px 10px;
  border: 1px solid #cc0000;
  border-radius: 4px;
  font-size: 12px;
}
