/* File: Search.css */

.SearchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Ajusta la altura según sea necesario */
  background-color: #fff; /* Ajusta el color de fondo según tu diseño */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para efecto de elevación */
}

.SearchContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.SearchRow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.SearchBackButton {
  cursor: pointer;
  margin-right: 10px;
}

input[type="text"] {
  flex: 1;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.SearchResultsWrapper {
  position: absolute;
  top: 60px; /* Coloca los resultados debajo del input */
  left: 0;
  width: 100%;
  max-height: calc(100vh - 60px); /* Ajusta el máximo alto según tu diseño */
  overflow-y: auto; /* Añade scroll si hay muchos resultados */
  background-color: #fff; /* Ajusta el color de fondo según tu diseño */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para efecto de elevación */
}

.SearchResultsContainer {
  width: 100%;
  padding: 10px;
}

.SearchResult {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Línea separadora entre resultados */
}

.SearchResultItem {
  display: block;
  text-decoration: none;
  color: #333;
}

.SearchResultItem:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
}
