.home {
    text-align: center;
    
  }
  
.section-title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1200px;
    width: calc(100% - 40px); /* Ajusta el margen izquierdo y derecho */
    margin: 20px auto; /* Centra verticalmente y ajusta el margen superior e inferior */
    color: #CC2D4A;
  }


  .categories-title {
    text-align: left;
    color: #CC2D4A;
    font-size: 2em;
    text-align: left;
    padding-top: 20px;
    max-width: 1200px;
    margin: 48px 0px 48px 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

.recipes{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #f9f9f9 ;
  min-height: 600px;
}
